extends ../layouts/dashboard

append config
  -pageName = 'Image'
  -pageUrl = 'dash_add_image'

block content
  .card
    h6.card-header Add Image
    .card-body
      form(action='' method='post' enctype='multipart/form-data')
        p
          label Title
          input.form-control(name='title' value='' type='text' required='')
        p
          label Image
          input.form-control(type='file' name='avafile' required='')
        p
          label Active
          br
          select.form-select(name='active' required='')
            option(value='Yes' selected='') Yes
            option(value='No') No
        p
          label Description
          textarea.form-control

block scripts 
