extends ../layouts/dashboard

append config
  -pageName = 'Widget'
  -pageUrl = 'dash_add_widget'

block content
  .card
    .card-header 
      h5.card-title Add Widget
    .card-body
      form(action='' method='post')
        .mb-3
          label.form-label Title
          input.form-control(name='title' value='' type='text' required='')
        .mb-3
          label.form-label Content
          textarea.form-control

      .d-grid
        button.btn.btn-primary guardar

block scripts 
