extends ../layouts/dashboard

append config
  -pageName = 'Gallery'
  -pageUrl = 'dash_gallery'

block content
  .card
    .card-header 
      h5.card-title Gallery
    .card-body

      .d-grid
        a.btn.btn-primary(href='dash_add_image.html')
          i.fa.fa-edit
          |  Add Image

      .table-responsive
        table.table.table-border.table-hover.align-middle
          thead
            tr
              th Image
              th Title
              th Active
              th Actions
          tbody
            tr
              td
                center
                  img(src='https://dummyimage.com/150x150/d63384/fff.jpg' width='100px' height='75px')
              td 1
              td Yes
              td
                a.btn.btn-primary.btn-sm(href='?edit-id=1')
                  i.fa.fa-edit
                  |  Edit
                a.btn.btn-danger.btn-sm(href='?delete-id=1')
                  i.fa.fa-trash
                  |  Delete
            tr.even
              td
                center
                  img(src='https://dummyimage.com/150x150/d63384/fff.jpg' width='100px' height='75px')
              td zxc
              td Yes
              td
                a.btn.btn-primary.btn-sm(href='?edit-id=2')
                  i.fa.fa-edit
                  |  Edit
                a.btn.btn-danger.btn-sm(href='?delete-id=2')
                  i.fa.fa-trash
                  |  Delete

