extends ../layouts/dashboard

append config
  -pageName = 'Widgets'
  -pageUrl = 'dash_widgets'

block content
  .card
    .card-header 
      h5.card-title Widgets
    .card-body
      .d-grid
        a.btn.btn-primary(href='dash_add_widget.html')
          i.fa.fa-edit
          |  Add Widget
      
      .table-responsive.mt-3
        table.table.table-border.table-hover.align-middle
          thead
            tr
              th Title
              th Actions
          tbody
            tr
              td Text Widget
              td
                a.btn.btn-primary.btn-sm(href='?edit-id=1')
                  i.fa.fa-edit
                  |  Edit
                a.btn.btn-danger.btn-sm(href='?delete-id=1')
                  i.fa.fa-trash
                  |  Delete


block scripts 
