extends ../layouts/dashboard

append config
  -pageName = 'Subscribers'
  -pageUrl = 'dash_subscribers'

block content
  .card
    .card-header
      h6.card-title.m-0 Subscribers
    .card-body
      table.table.table-border.table-hover.align-middle
        thead
          tr
            th E-Mail
        tbody
          tr
            td email1@gmail.com
