extends ../layouts/dashboard

append config
  -pageName = 'Categories'
  -pageUrl = 'dash_categories'

block content
  .card
    h6.card-header Add Category
    .card-body
      form(action='' method='post')
        p
          label Title
          input.form-control(name='category' value='' type='text' required='')
        .form-actions
          input.btn.btn-primary.col-12(type='submit' name='add' value='Add')


block scripts 
