extends ../layouts/dashboard

append config
  -pageName = 'Pages'
  -pageUrl = 'dash_add_page'

block content
  .card
    .card-header 
      h6.card-tiele Add Page
    .card-body
      form(action='' method='post')
        .mb-3
          label.form-label Title
          input.form-control(name='title' value='' type='text' required='')
        .mb-3
          label.form-label Content
          textarea.form-control

        input.btn.btn-primary.col-12(type='submit' name='add' value='Add')


block scripts 
