extends ../layouts/dashboard

append config
  -pageName = 'Files'
  -pageUrl = 'dash_files'

block content
  .card
    .card-header 
      h5.card-title Upload File
    .card-body
      form(action='' method='post' enctype='multipart/form-data')
        .mb-3
          label.form-label
            b File
          input.form-control(type='file' name='file' required='')
        
        .d-grid
          input.btn.btn-primary(type='submit' name='upload' value='Upload')


block scripts 
