extends ../layouts/dashboard

append config
  -pageName = 'Categories'
  -pageUrl = 'dash_categories'

block content
  .card
    h6.card-header Add Category
    .card-body
      form(action='' method='post')
        .mb-3
          label.form-label Title
          input.form-control(name='category' value='' type='text' required='')
        
        input.btn.btn-primary.col-12(type='submit' name='add' value='Add')

block scripts
