extends ../layouts/dashboard

append config
  -pageName = 'Image'
  -pageUrl = 'dash_add_image'

block content
  .card
    .card-header 
      h5.card-title Add Image
    .card-body
      form(action='' method='post' enctype='multipart/form-data')
        .mb-3
          label.form-label Title
          input.form-control(name='title' value='' type='text' required='')
        .mb-3
          label.form-label Image
          input.form-control(type='file' name='avafile' required='')
        .mb-3
          label.form-label Active
          br
          select.form-select(name='active' required='')
            option(value='Yes' selected='') Yes
            option(value='No') No
        .mb-3
          label.form-label Description
          textarea.form-control

        .d-grid.gap-2
          button.btn.btn-primary Guardar
          
