extends ../layouts/dashboard

append config
  -pageName = 'Pages'
  -pageUrl = 'dash_pages'

block content
  .card
    .card-header 
      h6.card-title Pages
    .card-body
      a.btn.btn-primary.col-12(href='dash_add_page.html')
        i.fa.fa-edit
        |  Add Page

      .table-responsive
        table.table.table-border.table-hover.align-middle
          thead
            tr
              th Title
              th Actions
          tbody
            tr
              td About
              td
                a.btn.btn-primary.btn-sm(href='?edit-id=1')
                  i.fa.fa-edit
                  |  Edit
                a.btn.btn-danger.btn-sm(href='?delete-id=1')
                  i.fa.fa-trash
                  |  Delete