extends ../layouts/dashboard

append config
  -pageName = 'Widget'
  -pageUrl = 'dash_add_widget'

block content
  .card
    h6.card-header Add Widget
    .card-body
      form(action='' method='post')
        p
          label Title
          input.form-control(name='title' value='' type='text' required='')
        p
          label Content
          textarea.form-control.ckeditor

block scripts 
