extends ../layouts/blog

block header

block aside
  include ../includes/blog-aside

block content
  #carouselExampleCaptions.carousel.slide.mb-4
    .carousel-indicators
      button.active(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
      button(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide-to='1', aria-label='Slide 2')
      button(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide-to='2', aria-label='Slide 3')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .carousel-caption.d-none.d-md-block
          h5 First slide label
          p Some representative placeholder content for the first slide.
      .carousel-item
        img.d-block.w-100(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .carousel-caption.d-none.d-md-block
          h5 Second slide label
          p Some representative placeholder content for the second slide.
      .carousel-item
        img.d-block.w-100(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p Some representative placeholder content for the third slide.
    button.carousel-control-prev(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next
  .row.row-cols-1.row-cols-lg-2
    .col
      .card.mb-4
        a(href='home_post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='home_post.html') Read more →
    .col
      .card.mb-4
        a(href='home_post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='home_post.html') Read more →
    .col
      .card.mb-4
        a(href='home_post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='home_post.html') Read more →
    .col
      .card.mb-4
        a(href='home_post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='home_post.html') Read more →
    .col
      .card.mb-4
        a(href='home_post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='home_post.html') Read more →
    .col
      .card.mb-4
        a(href='home_post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='home_post.html') Read more →

  // Pagination
  nav(aria-label='Pagination')
    hr.my-0
    ul.pagination.justify-content-center.my-4
      li.page-item.disabled
        a.page-link(href='#', tabindex='-1', aria-disabled='true') Newer
      li.page-item.active(aria-current='page')
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item.disabled
        a.page-link(href='#') ...
      li.page-item
        a.page-link(href='#') 15
      li.page-item
        a.page-link(href='#') Older
