.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.active .bi {
  display: block !important;
}

.settings-toggle {
  background: $primary;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  height: 52px;
  padding: 1rem;
  position: fixed;
  right: 20px;
  width: 52px;

  svg {
    height: 20px;
    margin-top: -0.25rem;
    width: 20px;
  }
}

// carroucell
.carousel-inner {
  border-radius: $border-radius;
}

// jodit
/*jodit*/
.jodit-toolbar__box {
  background-color: $body-bg !important;
  color: $body-color-dark !important;
}

.jodit-wysiwyg {
  background-color: $body-bg !important;
  color: $body-color-dark !important;
}
.jodit-status-bar {
  background-color: $body-bg !important;
  color: $body-color !important;
}

.jodit-icon {
  fill: $body-color !important;
}

.jodit-toolbar-button__trigger {
  fill: $body-color !important;

  &:hover {
    background-color: $primary !important;
    fill: #fff !important;
  }
}

.jodit-toolbar-button__button:hover {
  background-color: $primary !important;
  svg {
    fill: #fff !important;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .jodit-toolbar__box {
      background-color: $body-bg-dark !important;
      color: $body-color-dark !important;
    }

    .jodit-wysiwyg {
      background-color: $body-bg-dark !important;
      color: $body-color-dark !important;
    }
    .jodit-status-bar {
      background-color: $body-bg-dark !important;
      color: $body-color-dark !important;
    }

    .jodit-icon {
      fill: $body-color-dark !important;
    }

    .jodit-toolbar-button__trigger {
      fill: $body-color-dark !important;

      &:hover {
        background-color: $primary !important;
        fill: $body-color-dark !important;
      }
    }

    .jodit-toolbar-button__button:hover {
      background-color: $primary !important;
    }

    .jodit-popup__content {
      background-color: $body-bg-dark !important;
      color: $body-color-dark !important;
    }
  }
}
/*jodit*/
