block config

// Footer
footer.py-3.my-4
  ul.nav.justify-content-center.border-bottom.pb-3.mb-3
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') Home
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') Features
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') Pricing
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') FAQs
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') About
  p.text-center.text-muted &copy; 2023 #{siteName}
